<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="app.component.css">
    <link rel="stylesheet" type="text/css" href="app.component.features.css">
    <link rel="stylesheet" type="text/css" href="app.component.about.css">
    <link rel="stylesheet" type="text/css" href="app.component.members.css">
    <link rel="stylesheet" type="text/css" href="app.component.connect.css">
    <link rel="stylesheet" type="text/css" href="app.component.home.css">
    <link rel="stylesheet" type="text/css" href="app.component.navbar.css">
    <link rel="stylesheet" type="text/css" href="app.component.evolution.css">
    <link rel="stylesheet" type="text/css" href="app.component.footer.css">
    <title>MBot</title>
</head>


<body class = "body">

  <!--Home-->
  <header class = "home-container" id = "home">
    <div class = "home-container-image"></div>
  </header>

  <!--Navbar-->
  <header class = "navbar-container">
    <li class="nav-item"><a href="#home" >Home</a></li>
    <li class="nav-item"><a href="#members">Members</a></li>
    <li class="nav-item"><a href="#about">About</a></li>
    <li class="nav-item"><a href="#features">Features</a></li>
    <li class="nav-item"><a href="#connect">Connect</a></li>
  </header>

  <!--Members-->
  <div class = "members-container" id = "members">

    <!--Bernhard Pirchner-->
    <div class = "members-container-block members-container-block-pirchner">
      <a href="https://www.instagram.com/berni.0_o/">

        <div class = "members-container-block-image members-container-block-image-pirchner">
          <div class = "members-container-block-image-insta"></div>
        </div>

      </a>
      <div class = "members-container-block-description">
        <h2 class = "members-container-block-description-title">Bernhard Pirchner</h2>
        <div class = "members-container-block-description-text">As a project manager, it's my responsibility to coordinate the various aspects of our system planning project and ensure we reach our goals in a timely and efficient manner. I'm passionately interested in developing innovative solutions and maximizing the potential of the MBot. I look forward to collaborating with our team to design an outstanding user interface that elevates the user experience to a new level.</div>
      </div>
    </div>

    <!--Daniel Brunhuber-->
    <div class = "members-container-block members-container-block-brunhuber">
      <a href="https://www.instagram.com/dani_alf.br/">
        <div class = "members-container-block-image members-container-block-image-brunhuber">
          <div class = "members-container-block-image-insta"></div>
        </div>
      </a>
      <div class = "members-container-block-description">
        <h2 class = "members-container-block-description-title">Daniel Brunhuber</h2>
        <div class = "members-container-block-description-text">I'm thrilled to be designing the graphical user interface (GUI) for our system planning project centered around the MBot! My aim is to develop a interface that's not just functional but also fun and sparks curiosity about technology. I'm excited to push the boundaries of creativity and craft a GUI that not only delights our users but also adds a touch of magic to the world of the MBot!</div>
      </div>
    </div>

     <!--Fabian Beierschoder-->
     <div class = "members-container-block members-container-block-beierschoder">
      <a href="https://www.instagram.com/fabian.b_26/">
        <div class = "members-container-block-image members-container-block-image-beierschoder">
          <div class = "members-container-block-image-insta"></div>
        </div>
      </a>
      <div class = "members-container-block-description">
        <h2 class = "members-container-block-description-title">Fabian Beierschoder</h2>
        <div class = "members-container-block-description-text">As the GitHub manager in our team, I passionately take care of managing and maintaining our repositories. I'm dedicated to ensuring efficient development processes and making sure our code is always organized and secure. My task is to facilitate collaboration and contribute to unlocking our team's full potential.</div>
      </div>
    </div>

    <!--Manuel Dürnberger-->
    <div class = "members-container-block members-container-block-duernberger">
      <a href="https://www.instagram.com/deadlyhirsch/">
        <div class = "members-container-block-image members-container-block-image-duernberger">
          <div class = "members-container-block-image-insta"></div>
        </div>
      </a>
      <div class = "members-container-block-description">
        <h2 class = "members-container-block-description-title">Manuel Dürnberger</h2>
        <div class = "members-container-block-description-text">As a programmer on the team, I passionately drive the development of our software for the MBot system planning project. I love creating innovative solutions and enhancing the functionality of our application. My goal is to build robust and user-friendly software that fully harnesses the potential of the MBot and enriches the user experience.</div>
      </div>
    </div>    

  </div>
 
  <!--About-->
  <div class = "about-container" id = "about">
    <div class = "about-container-image"></div>
    <div class = "about-container-text">Our project goal is to implement various requirements for the MBot. We aim to develop versatile software that enables effective and creative use of the MBot. We strive to create a platform suitable for both educational purposes and practical applications, helping users unleash the full potential of the MBot.</div>
  </div>


  <!--Features-->
  <div class = "features-container" id = "features">

    <!--Control Block-->
    <div class = "features-container-block features-container-block-control">
      <a href="https://de.wikipedia.org/wiki/Control#:~:text=englisch%20Control%20%E2%80%9ASteuerung%20oder%20Kontrolle,zur%20Risikoreduzierung%20im%20Internen%20Kontrollsystem">
        <div class = "features-container-block-image features-container-block-image-control"></div>
      </a>
      <div class = features-container-block-description>
        <h2 class = "features-container-block-description-title">Control</h2>
        <div class = "features-container-block-description-text">In tech, "control" means directing or managing a system to achieve specific goals, whether it's through automation, remote operation, software, or quality management.</div>
      </div>
    </div>

    <!--Connection Block-->
    <div class = "features-container-block features-container-block-connection">
      <a href="https://de.wikipedia.org/wiki/Connect#:~:text=Connection%20(%E2%80%9EAnschluss%2C%20Verbindung%E2%80%9C,Jet%20Connection%2C%20ehemalige%20deutsche%20Fluggesellschaft">
        <div class = "features-container-block-image features-container-block-image-connection"></div>
      </a>
      <div class = features-container-block-description>
        <h2 class = "features-container-block-description-title">Connection</h2>
        <div class = "features-container-block-description-text">In technology, "connection" typically refers to linking devices, networks, or systems to exchange data or share resources. This involves establishing wireless or wired links to enable communication or data exchange.</div>
      </div>
    </div>

    <!--Color Block-->
    <div class = "features-container-block features-container-block-color">
      <a href="https://de.wikipedia.org/wiki/Couleur#:~:text=Die%20Couleur%20(franz%C3%B6sisch%20la%20couleur,farbenf%C3%BChrenden%20Studenten%2D%20oder%20Sch%C3%BClerverbindung%20dient.">
        <div class = "features-container-block-image features-container-block-image-color"></div>
      </a>
      <div class = features-container-block-description>
        <h2 class = "features-container-block-description-title">Color</h2>
        <div class = "features-container-block-description-text">In tech, "color" visually conveys information and enhances interfaces, playing a crucial role in triggering emotions and aiding navigation. Understanding color theory is essential for creating attractive and user-friendly designs.</div>
      </div>
    </div>

    <!--Sensor Block-->
    <div class = "features-container-block features-container-block-sensor">
      <a href ="https://de.wikipedia.org/wiki/Sensor#:~:text=Ein%20Sensor%20(von%20lateinisch%20sentire,oder%20chemische%20Eigenschaften%20(physikalisch%20z.">
        <div class = "features-container-block-image features-container-block-image-sensor"></div>
      </a>
      <div class = features-container-block-description>
        <h2 class = "features-container-block-description-title">Sensor</h2>
        <div class = "features-container-block-description-text">In tech, "sensor" detects and measures physical properties like light, temperature, or motion, providing input for automated systems or data collection.</div>
      </div>
    </div>

    <!--3D Modell Block-->
    <div class = "features-container-block features-container-block-modell">
      <a href ="https://de.wikipedia.org/wiki/3D">
        <div class = "features-container-block-image features-container-block-image-modell"></div>
      </a>
      <div class = features-container-block-description>
        <h2 class = "features-container-block-description-title">3D Modell</h2>
        <div class = "features-container-block-description-text">In tech, "3D model" is a digital representation of an object or environment with width, height, and depth, used in fields like gaming, design, and simulation.</div>
      </div>
    </div>
  </div>

  <!--Connect-->
  <div class = connect-container id = "connect">
    <h2 class = "connect-container-title">Connection</h2>
    <div class = "connect-container-input">
      <input class = "connect-container-input-field" type="text" id="ipAddress" name="ipAddress" [(ngModel)]="mBotIpAddress">
      <button  class = "connect-container-input-button" (click)="saveIpAddress()">Save</button>
    </div>

  </div>

  <!--Evolution-->
  <div class = "evolution-container">
    <div class = "evolution-container-title">Bär to BearBot Evolution</div>
    <div class = "evolution-container-image"></div>
  </div>

  <!--Footer-->
  <footer class = "footer-container">
    <div class = "footer-container-image"></div>    
  </footer>

<script src="app.component.js"></script>

</body>
</html>







<div *ngIf="sensorData">
<!--<div class="sensor-container">
  <h2>Sensor Data:</h2>
  <pre>{{ sensorData }}</pre>
</div>

<div *ngIf="mbotSelection.length > 0">
  <h2>mbotSelection:</h2>
  <ul>
    <li *ngFor="let mBot of mbotSelection">
      Name: {{ mBot.name }}, IP: {{ mBot.ipAddress }}
    </li>
  </ul>
</div>



<h1>Color Picker Demo</h1>
<div>
  <input type="color" id="head1" name="head1" [value]="colors[0]" (input)="onColorChanged($event, 1)">
</div>
<div>
  <input type="color" id="head2" name="head2" [value]="colors[1]" (input)="onColorChanged($event, 2)">
</div>
<div>
  <input type="color" id="head3" name="head3" [value]="colors[2]" (input)="onColorChanged($event, 3)">
</div>
<div>
  <input type="color" id="head4" name="head4" [value]="colors[3]" (input)="onColorChanged($event, 4)">
</div>
<div>
  <input type="color" id="head5" name="head5" [value]="colors[4]" (input)="onColorChanged($event, 5)">
</div>-->
















