.body{
  margin: 0;
  padding: 0;

  background-color: white;
  background-repeat: no-repeat; /* Verhindert die Wiederholung des Hintergrundbildes */
  background-size: cover; /* Skaliert das Hintergrundbild, um den gesamten Bildschirm zu bedecken */
  background-position: center; /* Zentriert das Hintergrundbild */
  background-attachment: fixed; /* Fixiert das Hintergrundbild, damit es sich nicht beim Scrollen bewegt */
}

/*Gestalten des Anfangsbildschirms*/
.body-header {
  background-image: url("Images/Start-Background-Image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; /* Skaliert das Hintergrundbild, um den gesamten Header zu bedecken */
  height: 95vh; /* Verwenden Sie relative Einheiten wie VH (Viewport Height), um die Höhe des Headers anzugeben */
  display: flex;
  justify-content: center; /* Zentriert den Inhalt horizontal */
  padding: 0;
  border: 0;
  margin: 0;
}

.body-header-logo {
  background-image: url(Images/Logo.png);
  background-repeat: no-repeat;
  background-size: contain; /* Verwendet contain, um sicherzustellen, dass das Bild immer vollständig sichtbar ist */
  background-position: center;
  width: 100%; /* Verwenden Sie relative Einheiten wie Prozent, um die Größe des Bildes relativ zum Bildschirm anzugeben */
  max-width: 700px; /* Maximale Breite des Bildes */
  height: 100vh; /* Automatische Höhe, um das Bild proportional zu skalieren */
  animation: logoAnimation 6s infinite;
}



/*Styling des Headers mit HOME MEMBERS ABOUT FEATURES CONTACT*/
.body-header-ul {
  background-color: #333; /* Change this to desired background color */
  position: fixed;

  transition: top 0.5s; /* Übergangseffekt für den Header */


  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 10000; /* Ensure header stays on top of other content */
}

.body-header-ul-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.body-header-ul-nav-itmes {
  list-style: none;
  display: flex;
}

.nav-item {
  margin: 0 20px; /* Adjust spacing between navigation items */
}

.nav-item a {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /* Neue Schriftart */
  border-radius: 5%;
  color: #fff; /* Change this to desired link color */
  text-decoration: none;
  padding: 10px;
  font-size: 60px;
  transition: background-color 0.3s;
}

.nav-item a:hover {
  background-color: orange; /* Change this to desired hover color */
  border-radius: 5%;
}











.popup-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Popup-Fenster werden horizontal zentriert */
  padding: 10px;
}

.popup {
  width: 100%;
  background-color: white; /* Hintergrundfarbe anpassen */
  border: 1px solid #ccc; /* Randstil anpassen */
  margin-bottom: 10px;
}

.popup-content {

  background-position: center;
  background-color: white;  
  width: 80%;
  

  margin: 2% auto;

  border: 1px solid #888;
  height: auto;
  padding: 0;
 
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;

  
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}



.body-main-buttons{
  background-color: red;

  margin-bottom: 0;
  padding-bottom: 0;
}





.button-container-connection{
  background-color: blue;
  border-radius: 20%;
}




.body-main-buttons{
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-main-buttons-container-control{
  background-image: url('Images/Button-WASD.png'); 
}

.body-main-buttons-container-conection{
  background-image: url('Images/Button-Conection.png'); 
}

.body-main-buttons-container-color{
  background-image: url('Images/Button-Color.png');
}

.body-main-buttons-container-sensor{
  background-image: url("Images/Button-Sensor.png");
}


.body-main-buttons-container {
  height: 300px;
  width: 300px;

  border-radius: 20%; /* Runde Ecken */
  background-size: cover; /* Skaliert das Bild, um den gesamten Button zu bedecken */

  border: 5px solid black; /* Transparente Border */
  cursor: pointer; /* Zeigercursor beim Überfahren */
  transition: all 0.3s ease; /* Übergangseffekt für flüssiges Hover-Verhalten */
}

.body-main-buttons-container:hover {
  background-color: orange;
  height: 350px;
  width: 350px;


}

.button-container {
  margin: 20px;
  cursor: pointer; /* Zeigercursor beim Überfahren */
  transition: all 0.3s ease; /* Übergangseffekt für flüssiges Hover-Verhalten */
}

.buttons-headtitle {
  margin: auto; 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 50px;
  text-align: center; 
  width: fit-content;
}




















@keyframes logoAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}










.body-main-members {
  height: 500px;
  padding: 10px;
  display: flex; /* Flexbox verwenden */
  justify-content: center; /* Horizontal zentrieren */
}

.body-main-members-container{
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 40px ;
  margin-bottom: 40px;

  align-items: center; /* Vertikal zentrieren */
  display: flex; /* Flexbox verwenden */
  justify-content: center; /* Horizontal zentrieren */
  border-radius: 40px;
  padding: 20px;
  background-size: cover; /* Das Hintergrundbild wird so skaliert, dass es den gesamten Bereich abdeckt */
  background-position: center; /* Das Hintergrundbild wird zentriert */
  position: relative; /* Positionierung für das Überlagern von Text */
  overflow: hidden; /* Überlauf verbergen, um das gedrehte Bild innerhalb des Containers zu halten */
  text-align: center; /* Text zentrieren */
  position: relative; /* Relative Positionierung für Animation */
  animation: slideInOut 1s forwards;
}







.body-main-background{
  background-image: url("Images/Mitte-Background-Image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; /* Skaliert das Hintergrundbild, um den gesamten Header zu bedecken */
  height: 80vh; /* Verwenden Sie relative Einheiten wie VH (Viewport Height), um die Höhe des Headers anzugeben */
  display: flex;
  justify-content: center; /* Zentriert den Inhalt horizontal */

  padding: 0;
  border: 0;
  margin: 0;
}

.body-main-background-container{
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 40px ;
  margin-bottom: 40px;

  align-items: center; /* Vertikal zentrieren */
  display: flex; /* Flexbox verwenden */
  justify-content: center; /* Horizontal zentrieren */
  border-radius: 40px;
  padding: 20px;
  background-size: cover; /* Das Hintergrundbild wird so skaliert, dass es den gesamten Bereich abdeckt */
  background-position: center; /* Das Hintergrundbild wird zentriert */
  position: relative; /* Positionierung für das Überlagern von Text */
  overflow: hidden; /* Überlauf verbergen, um das gedrehte Bild innerhalb des Containers zu halten */
  text-align: center; /* Text zentrieren */
  position: relative; /* Relative Positionierung für Animation */
}



.body-main-background-container-image{
  background-image: url("Images/Logo.png");

  background-size: cover;
  background-position: center;
  height: 400px;
  width: 300px; /* Breite des Bildes */
  border-radius: 10%;
  flex-shrink: 0; /* Verhindern, dass das Bild kleiner wird */
  margin-right: 20px; /* Abstand zwischen Bild und Text */
}


.body-main-background-container-description{
  font-family: 'Arial', sans-serif; /* Neue Schriftart */
  font-size: 30px; /* Größe der Beschreibung */
  text-align: justify; /* Blocksatz */
}





.body-main-members-container-image-brunhuber{
  background-image: url("Images/Image_Brunhuber.jpg");
}

.body-main-members-container-image-beierschoder{
  background-image: url("Images/Image_Beierschoder.jpg");
}

.body-main-members-container-image-pirchner{
  background-image: url("Images/Image_Pirchner.jpeg");
}

.body-main-members-container-image-duernberger{
  background-image: url("Images/Image_Duernberger.JPG");
}

.body-main-members-container-image-projekt{
  background-image: url("Images/Logo.png");
}


.body-main-members-container-image {
 
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 300px; /* Breite des Bildes */
  border-radius: 10%;
  flex-shrink: 0; /* Verhindern, dass das Bild kleiner wird */
  margin-right: 20px; /* Abstand zwischen Bild und Text */
}

.body-main-members-container-name {
  margin-top: 20px;
  font-family: 'Arial', sans-serif; /* Neue Schriftart */
  font-size: 60px; /* Größe des Namens */
  font-weight: bold; /* Fettgedruckter Text für den Namen */
  margin-bottom: 20px; /* Abstand zwischen Name und Beschreibung */
  text-align: left; /* Text linksbündig ausrichten */
}

.body-main-members-container-description {
  font-family: 'Arial', sans-serif; /* Neue Schriftart */
  font-size: 30px; /* Größe der Beschreibung */
  text-align: justify; /* Blocksatz */
}












.body-footer{
  background-image: url(Images/End-Background-Image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; /* Skaliert das Hintergrundbild, um den gesamten Header zu bedecken */
  height: 40vh; /* Verwenden Sie relative Einheiten wie VH (Viewport Height), um die Höhe des Headers anzugeben */
  display: flex;
  justify-content: center; /* Zentriert den Inhalt horizontal */
  padding: 0;
  border: 0;
  margin: 0;
}

























.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}











.body-main-members-container {
  opacity: 0; /* Standardmäßig ausgeblendet */
  transform: translateY(50px); /* Verschiebung nach unten, um die Einblendung von oben zu simulieren */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Übergangseffekt */
  margin-bottom: 20px;
}

/* Sichtbare Klasse, wenn das Mitglied in den sichtbaren Bereich des Bildschirms gelangt */
.visible {
  opacity: 1;
  transform: translateY(0);
}



/*

@media only screen and (min-width: 400px){
  .info-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .info-container-members {
    grid-template-columns: repeat(2, 1fr);
  }

  .info-container-members-image {
    grid-column: 1/2;
  }

  .info-container-members-discription {
    grid-column: 2/-1;
  }
}

@media only screen and (min-width: 1130px){
  .info-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .info-container-members {
    grid-template-columns: repeat(2, 1fr);
  }

  .info-container-members-image {
  grid-column: 1/2;
  }

  .info-container-members-discription {
    grid-column: 2/-1;
  }
}*/


