.body{
  margin: 0;
  padding: 0;

  background-color: rgb(255, 251, 247);
  background-repeat: no-repeat; /* Verhindert die Wiederholung des Hintergrundbildes */
  background-size: cover; /* Skaliert das Hintergrundbild, um den gesamten Bildschirm zu bedecken */
  background-position: center; /* Zentriert das Hintergrundbild */
  background-attachment: fixed; /* Fixiert das Hintergrundbild, damit es sich nicht beim Scrollen bewegt */
}

.body-footer{
  background-image: url(Images/End-Background-Image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; /* Skaliert das Hintergrundbild, um den gesamten Header zu bedecken */
  height: 40vh; /* Verwenden Sie relative Einheiten wie VH (Viewport Height), um die Höhe des Headers anzugeben */
  display: flex;
  justify-content: center; /* Zentriert den Inhalt horizontal */
  padding: 0;
  border: 0;
  margin: 0;
}
