.connect-container {
    display: flex;
    flex-direction: column;
    height: 400px;
    background-color: bisque;
    justify-content: center;
    align-items: center;
  }
  
  .connect-container-title {
    margin: 0px;
    font-size: 5em;
    text-align: center;
    font-family: "Arial", Times, serif;
  }
  
  .connect-container-input {
    text-align: center;
  }
  
  .connect-container-input-field {
    width: 400px;
    height: 50px;
    font-size: 1.5em;
    text-align: center;
    font-family: "Arial", Times, serif;
  }
  
  .connect-container-input-button {
    font-family: "Arial", Times, serif;
    font-size: 1.5em;
    height: 50px;
    width: 100px;
  }
  